.card{
  cursor: pointer;
  width: 42px;
  height: 60px;
  overflow: hidden;
  border: 1px solid;
  border-radius: 1px;
  border-color: transparent;
  position: absolute;
}
.card:hover{
  border-color: white;
}
.card.draggable:hover{
  border-color: red;
  cursor: grab;
}
.card.grabbed{
  cursor: grabbing;
}