html, body, #root, .bgio-client {
  height: 100%;
}
body {
  background-color: darkgreen;
}

.App {
  height: 100%;
  margin: 10px auto;
  position: relative;
}

#hand {
  background-color: darkolivegreen;
  width: 200px;
  height: 400px;
  position: absolute;
  top: 100px;
  left: 10px;
}

#stacks {
  background-color: darkolivegreen;
  width: 500px;
  height: 400px;
  position: absolute;
  top: 100px;
  left: 220px;
  display: flex;
}

.stack {
  width: 42px;
  position: relative;
}

#slots {
  background-color:darkolivegreen;
  position: absolute;
  width: 200px;
  height: 400px;
  top: 100px;
  left: 730px;
}
